<h2>heading 2</h2>

<p>
    This is example of hbs vars usage \{{{vars.product_full}}}
    {{{vars.product_full}}}
</p>

## This is a markdown code block

```

VMware Tanzu&#8482; SQL with MySQL for Kubernetes

```


## Code block with a variable

```
{{vars.product_full}}
```